div  {

    display: inline-block;
	margin: auto;
	margin-left: 20px;
	font-family: Georgia;
	height: 100px;
	width: 100px;

			}


.amarillo {
display: block;
background-color: yellow;
height: 90px;
width: 190px;

			}
.rojo {
display: block;
background-color: red;
height: 90px;
width: 190px;

			}
.pollito  {
display: block;
background-color: yellow;
height: 90px;
width: 190px;

			}	