div  {

    display: inline-block;
	margin: auto;
	margin-left: 20px;
	font-family: Georgia;
	height: 100px;
	width: 100px;

			}

p {
 text-align: center;  
}
.amarillo {
display: inline-block;
background-color: yellow;
height: 40px;
width: 100px;

			}
.rojo {
display: inline-block;
background-color: red;
height: 40px;
width: 30px;

			}

.pollito  {
display: inline-block;
background-color: yellow;
height: 40px;
width: 170px;

			}	